/* background color */
body {
    background-color: rgb(240, 240, 242);
    margin-left: 150px;
}

/* NAV BAR MODIFICATION */
nav {
 list-style-type: none;
 left: 0px;
 background-color: rgb(100,100,100);
 float:left;
 position: fixed;
}

nav a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
}

/* Change the link color on hover */
li a:hover {
    background-color: lightyellow;
    color: black;
}

/* TEXT & FONT MODIFICATION */

h1 {
  text-align: center;
}


/* HIT LIST MODIFICATION */
#strip_district {
  background-color: white;
}

#pnc_park {
  background-color: lightyellow;
}
